name: "pocketid"

services:
  auth:
    image: ghcr.io/pocket-id/pocket-id:v1
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.auth.rule=Host(`auth.localhost`)
      - traefik.http.services.auth.loadbalancer.server.port=1411
    environment:
      APP_URL: https://auth.localhost:8443
      TRUST_PROXY: true
    volumes:
      - auth_data:/app/data
    networks:
      - internal

  proxy:
    image: ghcr.io/traefik/traefik:v3
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    command: [
      --providers.docker=true,
      --providers.docker.exposedByDefault=false,
      --entrypoints.web.address=:8080,
      --entrypoints.web.http.redirections.entryPoint.to=websecure,
      --entrypoints.web.http.redirections.entryPoint.scheme=https,
      --entrypoints.web.http.redirections.entryPoint.permanent=true,
      --entrypoints.websecure.address=:8443,
      --entryPoints.websecure.http.tls=true,
      --entryPoints.websecure.asDefault=true,
    ]
    ports:
      - 8080:8080
      - 8443:8443
    use_api_socket: true
    networks:
      - internal
    volumes:
      - acme_data:/etc/traefik/acme

volumes:
  auth_data: {}
  acme_data: {}

networks:
  internal: {}
