name: "oauth2-proxy"

services:
  auth:
    image: quay.io/oauth2-proxy/oauth2-proxy:v7.13.0-alpine
    restart: unless-stopped
    command: [
       "--config", 
       "/etc/oauth2-proxy/oauth2-proxy.cfg"
    ]
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.auth.rule=Host(`auth.localhost`)"
      - "traefik.http.services.auth.loadbalancer.server.port=4180"
    networks:
      - internal
    secrets:
      - cookie_secret
      - client_secret
    configs:
      - source: proxy_config
        target: /etc/oauth2-proxy/oauth2-proxy.cfg
      - source: authenticated_emails
        target: /etc/oauth2-proxy/authenticated-emails.txt

  proxy:
    image: ghcr.io/traefik/traefik:v3.6.1
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    command: [
      --providers.docker=true,
      --providers.docker.exposedByDefault=false,
      --entrypoints.web.address=:8080,
      --entrypoints.web.http.redirections.entryPoint.to=websecure,
      --entrypoints.web.http.redirections.entryPoint.scheme=https,
      --entrypoints.web.http.redirections.entryPoint.permanent=true,
      --entrypoints.websecure.address=:8443,
      --entryPoints.websecure.http.tls=true,
      --entryPoints.websecure.asDefault=true,
    ]
    ports:
      - 8080:8080
      - 8443:8443
    use_api_socket: true
    networks:
      - internal
    volumes:
      - acme_data:/etc/traefik/acme

volumes:
  auth_data: {}
  acme_data: {}

networks:
  internal: {}

secrets:
  cookie_secret:
    file: ./secrets/cookie-secret.txt
  client_secret:
    file: ./secrets/client-secret.txt

configs:
  proxy_config:
    file: ./oauth2-proxy.toml
  authenticated_emails:
    file: ./secrets/authenticated-emails.txt