## OAuth2 Proxy Config File
## https://github.com/oauth2-proxy/oauth2-proxy

## <addr>:<port> to listen on for HTTP/HTTPS clients
http_address = ":4180"
# https_address = ":443"

## Are we running behind a reverse proxy? Will not accept headers like X-Real-Ip unless this is set.
# reverse_proxy = true

## the OAuth Redirect URL.
# defaults to the "https://" + requested host header + "/oauth2/callback"
redirect_url = "http://oauth.localhost:4180/oauth2/callback"

## pass HTTP Basic Auth, X-Forwarded-User and X-Forwarded-Email information to upstream
# pass_basic_auth = true
# pass_user_headers = true
## pass the request Host Header to upstream
## when disabled the upstream Host is used as the Host Header
# pass_host_header = true

## Email Domains to allow authentication for (this authorizes any email on this domain)
## for more granular authorization use `authenticated_emails_file`
## To authorize any email addresses use "*"
# email_domains = [
#     "yourcompany.com"
# ]
authenticated_emails_file = "/etc/oauth2-proxy/authenticated-emails.txt"

## The OAuth Client ID, Secret
client_id = "Ov23liJ3GaLnz4abqren"
client_secret_file = "/run/secrets/client_secret"
code_challenge_method = "S256"

## Provider Settings
provider = "github"
github_users = "cturner8"

## Scopes Added to the request
## It has the same behavior as the --scope flag
# scope = "openid email profile"

## Pass OAuth Access token to upstream via "X-Forwarded-Access-Token"
# pass_access_token = false

## skip SSL checking for HTTPS requests
# ssl_insecure_skip_verify = false


## Cookie Settings
# cookie_name = "_oauth2_proxy"
cookie_secret_file = "/run/secrets/cookie_secret"
# cookie_domains = ""
# cookie_expire = "168h"
# cookie_refresh = ""
# cookie_secure = true
# cookie_httponly = true

